body {
    background: linear-gradient(to right, rgb(247, 209, 215), rgb(191, 227, 241));
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.nav {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    z-index: 100; /* 确保导航栏在最上层 */
}
.nav .nav-wrapper {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}
.nav .nav-wrapper .nav-item {
  color: #9e9e9e;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  display: inline-block;
}
.nav .nav-wrapper .nav-item:hover {
  animation: jump 0.3s ease-in-out;
}
.nav .nav-wrapper .nav-item:hover .nav-drop-down-wrapper {
  display: block;
  opacity: 0;
  animation: show 0.4s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.nav .nav-wrapper .nav-item .alink {
  border: 2px solid transparent;
  color: #9e9e9e;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 20px;
}
.nav .nav-wrapper .nav-item .alink img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.nav .nav-wrapper .nav-item .alink:hover {
  border-radius: 10px;
  background-color: #ffddef;
  border: 2px solid rgb(241, 203, 224);
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper {
  padding-top: 23px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down {
  min-width: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down .down-item {
  margin: 10px 0;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down .down-item:hover {
  background-color: rgb(255, 229, 241);
  color: #727272;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down .down-item .down-item-wrapper {
  padding: 10px 0 10px 27px;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down .down-item .down-item-wrapper img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.nav .nav-wrapper .nav-item .nav-drop-down-wrapper .nav-drop-down .down-item .down-item-wrapper span {
  vertical-align: middle;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes show {
  0% {
    transform: translate(-50%, -5px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}

/* 标题容器 */
.title-box {
    display: flex;
    flex-direction: column;  /* 改为垂直方向布局 */
    justify-content: center;  /* 垂直居中 */
    align-items: center;      /* 水平居中 */
    height: 100vh;            /* 设置容器的高度为视口高度，以实现垂直居中 */
    width: 100%;              /* 确保容器宽度为100% */
}

/* 标题h1样式 */
.title-box h1 {
    color: white;
    user-select: none;
    letter-spacing: 3px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    margin: 0; /* 移除标题的外边距 */
}

/* 标题h2样式 */
.title-box h2 {
    color: white;
    user-select: none;
    letter-spacing: 3px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    margin: 10px 0 0;  /* 为欢迎文字添加一些顶部间距 */
    font-size: 30px;   /* 可以调整字体大小 */
}

/* 表格容器样式 */
.table-container {
    width: 85%; /* 设置表格容器宽度 */
    max-width: 1100px; /* 设置最大宽度 */
    padding: 20px;
    background-color: white; /* 背景色设为白色 */
    border-radius: 8px; /* 圆角效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    margin-top: 90px;
    overflow-x: auto;

}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse; /* 合并表格边框 */
    margin: 20px 0;
}

table th, table td {
    padding: 12px; /* 单元格内边距 */
    text-align: center; /* 文本居中 */
    border: 1px solid #ddd; /* 边框颜色 */
}

table th {
    background-color: #7fb254; /* 表头背景色 */
    color: white; /* 表头文字颜色 */
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* 偶数行背景色 */
}

table tr:hover {
    background-color: #ddd; /* 鼠标悬停时的背景色 */
}

.search-form {
    display: flex;            /* 使用 flexbox 布局 */
    justify-content: center;  /* 中心对齐表单内容 */
    margin-bottom: 15px;      /* 设置表单与表格之间的间距 */
    margin-top: 15px;         /* 设置表单与标题之间的间距 */
}
#searchInput {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-right: 10px;       /* 给搜索框右侧添加间距 */
}

/* 聚焦时的边框和阴影变化 */
#searchInput:focus {
    border-color: #3498db; /* 边框颜色变化 */
    box-shadow: 0px 4px 12px rgba(52, 152, 219, 0.4); /* 更明显的阴影 */
    outline: none; /* 去除默认的聚焦样式 */
}

.search_button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #4CAF50; /* 绿色按钮 */
    color: white;
    cursor: pointer;
}

.search_button:hover {
    background-color: #45a049; /* 悬停时按钮颜色变化 */
}

