<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <title>Books List</title>
    <link rel="stylesheet" href="../static/css/libr_frontpage.css">
</head>
<body>
        <div class="nav">
        <div class="nav-wrapper">
            <div class="nav-item">
                <a href="#" class="alink">
                    <span>Resources</span>
                    <img src="../static/img/drop.png" alt="">
                </a>
                <div class="nav-drop-down-wrapper">
                    <div class="nav-drop-down">
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Books 📕</span>
                            </div>
                        </div>
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>E-resources</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="#" class="alink">
                    <span>Manage</span>
                    <img src="../static/img/drop.png" alt="">
                </a>
                <div class="nav-drop-down-wrapper">
                    <div class="nav-drop-down">
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Users 👩‍💻</span>
                            </div>
                        </div>
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Books 📚</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="#" class="alink">
                    <span>Data</span>
                    <img src="../static/img/drop.png" alt="">
                </a>
                <div class="nav-drop-down-wrapper">
                    <div class="nav-drop-down">
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Borrowing Status 📊</span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-drop-down">
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Analyze 🍉</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="#" class="alink">
                    <span>Account</span>
                    <img src="../static/img/drop.png" alt="">
                </a>
                <div class="nav-drop-down-wrapper">
                    <div class="nav-drop-down">
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Personal Center 🩷</span>
                            </div>
                        </div>
                        <div class="down-item">
                            <div class="down-item-wrapper">
                                <span>Log out</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.down-item-wrapper').click(function() {
            var itemText = $(this).text().trim(); // 获取点击项的文本内容
            if (itemText === 'Books 📕') {
                // 如果点击的是 "Books 📕"
                window.location.href = '/books'; // 跳转到 books 页面
            }
            else if (itemText === 'E-resources') {
                // 如果点击的是 "E-resources"
                window.location.href = '/e_resources'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Users 👩‍💻') {
                window.location.href = '/users'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Books 📚') {
                window.location.href = '/books_manage'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Personal Center 🩷') {
                window.location.href = '/personal_center'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Borrowing Status 📊') {
                window.location.href = '/borrowing_status'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Analyze 🍉') {
                window.location.href = '/analyze'; // 跳转到 e-resources 页面
            }
            else if (itemText === 'Log out') {
                window.location.href = '/';
            }
        });
    </script>

    <div class="table-container">
        <h1 style="text-align: center;">♪(*^^)o E-resources List o(^^*)♪</h1>
        <form method="POST" action="/eresource_search">
            <input type="text" name="search" id="searchInput" placeholder="Search for resources..." />
            <button type="submit" class="search_button">Search</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Resource_type</th>
                    <th>Access_url</th>
                    <th>Publication_year</th>
                </tr>
            </thead>
            <tbody id="esourcesTable">
                <!-- 使用 Jinja2 循环渲染每本书 -->
                {% for esource in esources %}
                <tr>
                    <td>{{ esource['title'] }}</td>
                    <td>{{ esource['resource_type'] }}</td>
                    <td>{{ esource['access_url'] }}</td>
                    <td>{{ esource['publication_year'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
